<header class="section-header">
    <section class="top-bar bg-white text-white py-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-end">
                    <span class="phone-number text-theme"> <b>Appeler (+221) 77 456 78 90</b></span>
                </div>
            </div>
        </div>
    </section>
    <section class="header-main border-bottom mb-md-3">
        <div class="container mb-2">
            <div class="row align-items-center">
                <div class="col-lg-1 col-md-1 col-sm-1 col-12">
                    Logo
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-12">
                    <form action="#" class="search d-none d-md-block">
                        <div class="input-group w-100 mx-2">
                            <input type="text" class="form-control" placeholder="Rechercher">
                            <div class="input-group-append mx-2">
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-12 text-end d-flex align-items-center justify-content-end">
                    <a type="button" class="btn btn-primary mx-2" routerLink="/login">Connexion</a>
                    <button type="button" class="btn btn-success text-white mx-2"
                        routerLink="/register">Inscription</button>


                </div>
            </div>
        </div>
    </section>
</header>