<section class="product-list mt-4 border-top">
    <div class="container mt-5">
       
        <div class="row">
            <div class="col-lg-3 col-md-4 col-6 mb-3">
                <div class="card">
                    <img src="../../../../assets/img/logo.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Bonjour</h5>
                        <div class="rating">
                            <i class="fas fa-star warning" *ngFor="let star of [1, 2, 3, 4, 5]"></i>
                        </div>
                        <p class="card-text">Je suis un produit</p>
                        <a href="#" class="btn btn-primary mx-2">Acheter</a>
                        <a class="btn btn-warning mx-2" >
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                    </div>
                    
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6 mb-3">
                <div class="card">
                    <img src="../../../../assets/img/logo.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Bonjour</h5>
                        <div class="rating">
                            <i class="fas fa-star warning" *ngFor="let star of [1, 2, 3, 4, 5]"></i>
                        </div>
                        <p class="card-text">Je suis un produit</p>
                        <a href="#" class="btn btn-primary mx-2">Acheter</a>
                        <a class="btn btn-warning mx-2" >
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                    </div>
                    
                </div>
            </div><div class="col-lg-3 col-md-4 col-6 mb-3">
                <div class="card">
                    <img src="../../../../assets/img/logo.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Bonjour</h5>
                        <div class="rating">
                            <i class="fas fa-star warning" *ngFor="let star of [1, 2, 3, 4, 5]"></i>
                        </div>
                        <p class="card-text">Je suis un produit</p>
                        <a href="#" class="btn btn-primary mx-2">Acheter</a>
                        <a class="btn btn-warning mx-2" >
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                    </div>
                    
                </div>
            </div><div class="col-lg-3 col-md-4 col-6 mb-3">
                <div class="card">
                    <img src="../../../../assets/img/logo.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Bonjour</h5>
                        <div class="rating">
                            <i class="fas fa-star warning" *ngFor="let star of [1, 2, 3, 4, 5]"></i>
                        </div>
                        <p class="card-text">Je suis un produit</p>
                        <a href="#" class="btn btn-primary mx-2">Acheter</a>
                        <a class="btn btn-warning mx-2" >
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                    </div>
                    
                </div>
            </div><div class="col-lg-3 col-md-4 col-6 mb-3">
                <div class="card">
                    <img src="../../../../assets/img/logo.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Bonjour</h5>
                        <div class="rating">
                            <i class="fas fa-star warning" *ngFor="let star of [1, 2, 3, 4, 5]"></i>
                        </div>
                        <p class="card-text">Je suis un produit</p>
                        <a href="#" class="btn btn-primary mx-2">Acheter</a>
                        <a class="btn btn-warning mx-2" >
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                    </div>
                    
                </div>
            </div><div class="col-lg-3 col-md-4 col-6 mb-3">
                <div class="card">
                    <img src="../../../../assets/img/logo.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Bonjour</h5>
                        <div class="rating">
                            <i class="fas fa-star warning" *ngFor="let star of [1, 2, 3, 4, 5]"></i>
                        </div>
                        <p class="card-text">Je suis un produit</p>
                        <a href="#" class="btn btn-primary mx-2">Acheter</a>
                        <a class="btn btn-warning mx-2" >
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                    </div>
                    
                </div>
            </div><div class="col-lg-3 col-md-4 col-6 mb-3">
                <div class="card">
                    <img src="../../../../assets/img/logo.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Bonjour</h5>
                        <div class="rating">
                            <i class="fas fa-star warning" *ngFor="let star of [1, 2, 3, 4, 5]"></i>
                        </div>
                        <p class="card-text">Je suis un produit</p>
                        <a href="#" class="btn btn-primary mx-2">Acheter</a>
                        <a class="btn btn-warning mx-2" >
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                    </div>
                    
                </div>
            </div><div class="col-lg-3 col-md-4 col-6 mb-3">
                <div class="card">
                    <img src="../../../../assets/img/logo.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Bonjour</h5>
                        <div class="rating">
                            <i class="fas fa-star warning" *ngFor="let star of [1, 2, 3, 4, 5]"></i>
                        </div>
                        <p class="card-text">Je suis un produit</p>
                        <a href="#" class="btn btn-primary mx-2">Acheter</a>
                        <a class="btn btn-warning mx-2" >
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                    </div>
                    
                </div>
            </div><div class="col-lg-3 col-md-4 col-6 mb-3">
                <div class="card">
                    <img src="../../../../assets/img/logo.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Bonjour</h5>
                        <div class="rating">
                            <i class="fas fa-star warning" *ngFor="let star of [1, 2, 3, 4, 5]"></i>
                        </div>
                        <p class="card-text">Je suis un produit</p>
                        <a href="#" class="btn btn-primary mx-2">Acheter</a>
                        <a class="btn btn-warning mx-2" >
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                    </div>
                    
                </div>
            </div><div class="col-lg-3 col-md-4 col-6 mb-3">
                <div class="card">
                    <img src="../../../../assets/img/logo.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Bonjour</h5>
                        <div class="rating">
                            <i class="fas fa-star warning" *ngFor="let star of [1, 2, 3, 4, 5]"></i>
                        </div>
                        <p class="card-text">Je suis un produit</p>
                        <a href="#" class="btn btn-primary mx-2">Acheter</a>
                        <a class="btn btn-warning mx-2" >
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                    </div>
                    
                </div>
            </div><div class="col-lg-3 col-md-4 col-6 mb-3">
                <div class="card">
                    <img src="../../../../assets/img/logo.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Bonjour</h5>
                        <div class="rating">
                            <i class="fas fa-star warning" *ngFor="let star of [1, 2, 3, 4, 5]"></i>
                        </div>
                        <p class="card-text">Je suis un produit</p>
                        <a href="#" class="btn btn-primary mx-2">Acheter</a>
                        <a class="btn btn-warning mx-2" >
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                    </div>
                    
                </div>
            </div><div class="col-lg-3 col-md-4 col-6 mb-3">
                <div class="card">
                    <img src="../../../../assets/img/logo.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Bonjour</h5>
                        <div class="rating">
                            <i class="fas fa-star warning" *ngFor="let star of [1, 2, 3, 4, 5]"></i>
                        </div>
                        <p class="card-text">Je suis un produit</p>
                        <a href="#" class="btn btn-primary mx-2">Acheter</a>
                        <a class="btn btn-warning mx-2" >
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                    </div>
                    
                </div>
            </div><div class="col-lg-3 col-md-4 col-6 mb-3">
                <div class="card">
                    <img src="../../../../assets/img/logo.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Bonjour</h5>
                        <div class="rating">
                            <i class="fas fa-star warning" *ngFor="let star of [1, 2, 3, 4, 5]"></i>
                        </div>
                        <p class="card-text">Je suis un produit</p>
                        <a href="#" class="btn btn-primary mx-2">Acheter</a>
                        <a class="btn btn-warning mx-2" >
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                    </div>
                    
                </div>
            </div><div class="col-lg-3 col-md-4 col-6 mb-3">
                <div class="card">
                    <img src="../../../../assets/img/logo.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Bonjour</h5>
                        <div class="rating">
                            <i class="fas fa-star warning" *ngFor="let star of [1, 2, 3, 4, 5]"></i>
                        </div>
                        <p class="card-text">Je suis un produit</p>
                        <a href="#" class="btn btn-primary mx-2">Acheter</a>
                        <a class="btn btn-warning mx-2" >
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                    </div>
                    
                </div>
            </div><div class="col-lg-3 col-md-4 col-6 mb-3">
                <div class="card">
                    <img src="../../../../assets/img/logo.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Bonjour</h5>
                        <div class="rating">
                            <i class="fas fa-star warning" *ngFor="let star of [1, 2, 3, 4, 5]"></i>
                        </div>
                        <p class="card-text">Je suis un produit</p>
                        <a href="#" class="btn btn-primary mx-2">Acheter</a>
                        <a class="btn btn-warning mx-2" >
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                    </div>
                    
                </div>
            </div><div class="col-lg-3 col-md-4 col-6 mb-3">
                <div class="card">
                    <img src="../../../../assets/img/logo.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Bonjour</h5>
                        <div class="rating">
                            <i class="fas fa-star warning" *ngFor="let star of [1, 2, 3, 4, 5]"></i>
                        </div>
                        <p class="card-text">Je suis un produit</p>
                        <a href="#" class="btn btn-primary mx-2">Acheter</a>
                        <a class="btn btn-warning mx-2" >
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                    </div>
                    
                </div>
            </div>
        </div>
        
    </div>
</section>